@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Catamaran:wght@717&family=Cormorant+Garamond:wght@700&display=swap');
body {
    /* background-color:#FCF2D8; */
    /* background-image: url("https://www.transparenttextures.com/patterns/translucent-fibres.png"); */
    /* background-image: url("https://www.transparenttextures.com/patterns/white-texture.png"); */
    background-image: url("https://www.transparenttextures.com/patterns/white-tiles.png");
    background-color:#FFFDD0
}
.list{
    margin-top: 20px;
}
li{
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Comfortaa', cursive;
    
}
h1{
    font-family: 'Balsamiq Sans', cursive;
}
.head{
    padding-top: 55px;
}
.headers{
    margin-top: 60px;
}
.tables{
    font-size: 21px;
}